@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/***********************************************************************************************
 browser/browser.css
 ***********************************************************************************************/

/* ::::: Main Window Styling ::::: */
#navigator-toolbox:-moz-system-metric(windows-default-theme) > toolbar {
  -moz-appearance: none;
  border-style: none;
}

#print-preview-toolbar {
  -moz-appearance: -moz-win-browsertabbar-toolbox;
}

/* ::::: Location Bar AutoComplete Styling ::::: *

.ac-url-text:-moz-system-metric(windows-default-theme) {
  color: -moz-nativehyperlinktext;
}

/* ::::: Identity Indicator Styling ::::: *

#urlbar:-moz-locale-dir(ltr):-moz-system-metric(windows-default-theme) {
  -moz-margin-start: 9px;
}

#identity-box:-moz-locale-dir(ltr):-moz-system-metric(windows-default-theme) {
  -moz-margin-start: -7px;
}

#identity-box:-moz-locale-dir(ltr):-moz-system-metric(windows-default-theme) {
  -moz-border-radius: 11px 0 2px 11px / 15px 0 2px 15px;
}

/* Match #identity-box:-moz-locale-dir(ltr)'s -moz-margin-start *
#identity-popup:-moz-locale-dir(ltr):-moz-system-metric(windows-default-theme) {
  -moz-margin-start: 7px;
}

/* Bug 413060, comment 16: Vista Aero is a special case where we use a
   tooltip appearance for the address bar popup panels */
#identity-popup:-moz-system-metric(windows-default-theme),
#editBookmarkPanel:-moz-system-metric(windows-default-theme) {
  -moz-appearance: tooltip;
  color: InfoText;
}

/* Make the left and right paddings smaller, to compensate for the horizontal
   space added by the tooltip appearance, see bug 432529. */
#identity-popup-container:-moz-system-metric(windows-default-theme) {
  -moz-padding-start: 6px;
  -moz-padding-end: 6px;
}

#sidebar-splitter:-moz-system-metric(windows-default-theme) {
  border: 0;
  -moz-border-end: 1px solid;
  -moz-border-right-colors: #A9B7C9;
  -moz-border-left-colors: #A9B7C9;
  min-width: 0;
  width: 3px;
  background-color: transparent;
  -moz-margin-start: -3px;
  position: relative;
  z-index: 10;
}

#allTabs-panel:-moz-system-metric(windows-compositor),
#ctrlTab-panel:-moz-system-metric(windows-compositor) {
  background: transparent;
  -moz-appearance: -moz-win-glass;
  -moz-border-radius: 0;
  border: none;
  font: normal 1.2em "Segoe UI";
  color: black;
  text-shadow: white -1px -1px .5em, white -1px 1px .5em, white 1px 1px .5em, white 1px -1px .5em;
}

/* ::::: fullscreen window controls ::::: */

#window-controls {
  -moz-box-align: start !important;
}

#minimize-button,
#restore-button,
#close-button {
  -moz-appearance: none !important;
  border-style: none !important;
  margin: 0 !important;
}
#close-button {
  -moz-image-region: rect(0, 49px, 16px, 32px) !important;
}
#close-button:hover {
  -moz-image-region: rect(16px, 49px, 32px, 32px) !important;
}
#close-button:hover:active {
  -moz-image-region: rect(32px, 49px, 48px, 32px) !important;
}

/**/

#minimize-button,
#restore-button,
#close-button {
  list-style-image: url("chrome://aero/skin/global/icons/windowControls.png") !important;
}

#urlbar > .autocomplete-history-dropmarker:hover ,
#urlbar > .autocomplete-history-dropmarker[open="true"],
#identity-box {
  background-image: url("chrome://aero/skin/browser/navbar-textbox-buttons.png") !important;
}

/***********************************************************************************************
 browser/places/organizer.css
 ***********************************************************************************************/
 
#placesView:-moz-system-metric(windows-default-theme) {
  border-top: none;
}

#placesToolbar {
  -moz-appearance: -moz-win-media-toolbox;
  color: -moz-win-mediatext;
}

#placesToolbar:-moz-system-metric(windows-default-theme) {
/*
  min-height: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  -moz-padding-start: 6px;
  -moz-padding-end: 8px;
*/
padding: 0;
}

#placesMenu > menu {
  color: -moz-win-mediatext !important;
}

#placesMenu > menu > .menubar-text:-moz-system-metric(windows-default-theme) {
  -moz-padding-end: 15px;
  background-image: url(chrome://aero/skin/browser/places/dropDown.png);
}

#placesView > splitter:-moz-system-metric(windows-default-theme) {
  border: 0;
  -moz-border-end: 1px solid;
  -moz-border-right-colors: #A9B7C9;
  -moz-border-left-colors: #A9B7C9;
  min-width: 0;
  width: 3px !important;
  background-color: transparent;
  -moz-margin-start: -3px;
  position: relative;
  z-index: 10;
}

#searchModifiers:-moz-system-metric(windows-default-theme) {
  border-bottom: 1px solid #A9B7C9;
}

#organizerScopeBar:-moz-system-metric(windows-default-theme) {
  -moz-appearance: none;
  border: none;
}

#infoPaneBox:-moz-system-metric(windows-default-theme) {
  border-top-color: #A9B7C9;
}

#placesView:-moz-system-metric(windows-default-theme),
#searchModifiers:-moz-system-metric(windows-default-theme),
#infoPane:-moz-system-metric(windows-default-theme),
#placesList:-moz-system-metric(windows-default-theme),
#placeContent:-moz-system-metric(windows-default-theme) {
  background-color: #EEF3FA;
}

/**** Vista default theme: Library's search box needs to be vertically centered ****/
#searchFilter:-moz-system-metric(windows-default-theme) {
  padding-top: 3px;
  padding-bottom: 2px;
}

/***********************************************************************************************
 browser/places/places.css
 ***********************************************************************************************/
 
/* Style Places sidebars as Vista media collection */
#bookmarksPanel:-moz-system-metric(windows-default-theme),
#history-panel:-moz-system-metric(windows-default-theme) {
  background-color: #EEF3FA;
}

.sidebar-placesTree:-moz-system-metric(windows-default-theme) {
  background-color: transparent;
  border-top: none;
}

/***********************************************************************************************
 global/menu.css
 ***********************************************************************************************/
 
@media all and (-moz-windows-default-theme) {
  menubar > menu:-moz-lwtheme {
    -moz-appearance: menuitem;
  }

  menubar > menu:-moz-lwtheme[_moz-menuactive="true"]:not([disabled="true"]) {
    color: inherit !important;
    text-shadow: inherit;
  }
}

/***********************************************************************************************
 global/menulist.css
 ***********************************************************************************************/
 
menulist:focus > .menulist-label-box {
  border: 1px dotted ThreeDDarkShadow;
  background-color: transparent;
  color: inherit;
}

/***********************************************************************************************
 global/textbox.css
 ***********************************************************************************************/
 
textbox[isempty="true"]:-moz-system-metric(windows-default-theme) {
  font-style: italic;
}

/***********************************************************************************************
 global/toolbarbutton.css
 ***********************************************************************************************/
 
@media all and (-moz-windows-default-theme) {
  toolbarbutton:-moz-lwtheme:not([disabled="true"]) {
    color: inherit;
    text-shadow: inherit;
  }
}

/***********************************************************************************************
 global/tree.css
 ***********************************************************************************************/

/* ::::: twisty :::::  */

treechildren::-moz-tree-indentation {
  width: 12px;
}

treechildren::-moz-tree-twisty {
  -moz-padding-end: 1px;
  width: 9px;
  list-style-image: url("chrome://aero/skin/global/tree/twisty-clsd.png");
}

treechildren::-moz-tree-twisty(open) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-open.png");
}

/*
  Please note that the following RTL icons are only available in Aero themes:
   * chrome://global/skin/tree/twisty-clsd-hover.png
   * chrome://global/skin/tree/twisty-open-hover.png
   * chrome://global/skin/tree/twisty-clsd-rtl.png
   * chrome://global/skin/tree/twisty-open-rtl.png
   * chrome://global/skin/tree/twisty-clsd-hover-rtl.png
   * chrome://global/skin/tree/twisty-open-hover-rtl.png
*/
treechildren::-moz-tree-twisty(hover) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-clsd-hover.png");
}

treechildren::-moz-tree-twisty(hover, open) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-open-hover.png");
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-clsd-rtl.png");
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(open) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-open-rtl.png");
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(hover) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-clsd-hover-rtl.png");
}

treechildren:-moz-locale-dir(rtl)::-moz-tree-twisty(hover, open) {
  list-style-image: url("chrome://aero/skin/global/tree/twisty-open-hover-rtl.png");
}

/***********************************************************************************************
 global/console/console.css
 ***********************************************************************************************/

#ToolbarMode {
  -moz-appearance: -moz-win-browsertabbar-toolbox;
}

#ToolbarEval {
  -moz-appearance: toolbox;
}