/* ..... page navigation ..... * /

.home-arrow {
  list-style-image: url("moz-icon://stock/gtk-goto-first-ltr?size=menu");
}

.home-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-goto-first-rtl?size=menu");
}

.end-arrow {
  list-style-image: url("moz-icon://stock/gtk-goto-last-ltr?size=menu");
}

.end-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-goto-last-rtl?size=menu");
}

.left-arrow {
  list-style-image: url("moz-icon://stock/gtk-go-back-ltr?size=menu");
}

.left-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-back-rtl?size=menu");
}

.right-arrow {
  list-style-image: url("moz-icon://stock/gtk-go-forward-ltr?size=menu");
}

.right-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("moz-icon://stock/gtk-go-forward-rtl?size=menu");
}

/* ..... orientation ..... * /

.toolbar-portrait-page {
  list-style-image: url("moz-icon://stock/gtk-orientation-portrait?size=button");
}

.toolbar-landscape-page {
  list-style-image: url("moz-icon://stock/gtk-orientation-landscape?size=button");
}

/* ..... page navigation ..... */

.home-arrow,
.end-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/printpreview/arrow-left-end.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.home-arrow:hover,
.end-arrow:-moz-locale-dir(rtl):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.end-arrow,
.home-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/printpreview/arrow-right-end.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.end-arrow:hover,
.home-arrow:-moz-locale-dir(rtl):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.left-arrow,
.right-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/printpreview/arrow-left.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.left-arrow:hover,
.right-arrow:-moz-locale-dir(rtl):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.right-arrow,
.left-arrow:-moz-locale-dir(rtl) {
  list-style-image: url("chrome://global/skin/printpreview/arrow-right.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

.right-arrow:hover,
.left-arrow:-moz-locale-dir(rtl):hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

/* ..... orientation ..... */

.toolbar-portrait-page {
  list-style-image: url("chrome://global/skin/icons/Print-preview.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.toolbar-landscape-page {
  list-style-image: url("chrome://global/skin/icons/Print-preview.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}