@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Restyle the menubar buttons */
menubar menu {
-moz-appearance: toolbarbutton !important;
-moz-box-pack: center;
padding: 0 !important;
color: black !important;}
.toolbarbutton-icon {padding: 0 !important;}
menupopup menu {-moz-appearance: menuitem !important;}

/* Phoenity on linux toolbarbutton fix */
[anonid="button"] {margin: -4px 0 -4px -4px !important;}
[anonid="button"] .toolbarbutton-icon {margin: 0 !important;}
toolbarbutton[type="menu-button"] .dropmarker-icon {margin: 0 -2px 0 0 !important;}

/* Resize other toolbarbuttons */
.toolbarbutton-icon {margin: -1px !important;}
.toolbarbutton-text {padding: 0 0 0 4px !important;}
.menubar-text, #urlbar {margin: -1px 2px -1px 2px !important;}
.bookmark-item {padding: 0 3px 0 5px !important;}

/* Hide bookmark menu dropmarkers */
.toolbarbutton-menu-dropmarker[label] {display: none !important;}

/* Fix double menulist dropmarkers on linux */
#BrowserPreferences dropmarker,
#signingCA dropmarker {display: none;}