@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Hide disabled menu items on right-click context menus (a Safari trick) */

#contentAreaContextMenu menuitem[disabled="true"],
#contentAreaContextMenu menuitem[disabled="true"] + menuseparator,
#contentAreaContextMenu menuitem[hidden="true"] + menuseparator:not([hidden=true]):last-child{
	display: none !important;
}

#contentAreaContextMenu menuitem:not([disabled="true"]):not([hidden="true"]) + menuitem[disabled="true"] + menuseparator{
	display: -moz-box !important;
}

/* Tab bar buttons icon size fix */
.tab-close-button > .toolbarbutton-icon {height: 12px; width: 12px;}
.tabs-newtab-button > .toolbarbutton-icon {height: 14px; width: 14px;}

/* Tab bar height fix */
.tabbrowser-tabs {min-height: 27px;}

/* Stop tab icons and text bouncing up and down on switching tabs */
.tabbrowser-tab {padding-bottom: 2px;}
.tabbrowser-tab[selected="true"] {padding-bottom: 0px;}
.tabbrowser-tab > .tab-text{padding-bottom: 0px;}
.tabbrowser-tab[selected="true"]  > .tab-text {padding-bottom: 2px;}
.tab-text {margin-bottom: -2px;}

/* Make text bold on selected tab */
.tabbrowser-tab[selected="true"]  > .tab-text {font-weight: bold;}
