@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Hide disabled menu items on right-click context menus (a Safari trick) */

#contentAreaContextMenu menuitem[disabled="true"],
#contentAreaContextMenu menuitem[disabled="true"] + menuseparator{
	display: none !important;
}

#contentAreaContextMenu menuitem:not([disabled="true"]):not([hidden="true"]) + menuitem[disabled="true"] + menuseparator{
	display: -moz-box !important;
}

/* Tiny rounded-corner textboxes */

#urlbar[chromedir]:-moz-system-metric(windows-default-theme),
.searchbar-textbox{
	-moz-border-radius: 3px;
	border: 2px solid;
	-moz-border-top-colors: rgba(255, 255, 255, 0.4) ThreeDShadow;
	-moz-border-right-colors: rgba(255, 255, 255, 0.4) ThreeDShadow;
	-moz-border-bottom-colors: rgba(255, 255, 255, 0.4) ThreeDShadow;
	-moz-border-left-colors: rgba(255, 255, 255, 0.4) ThreeDShadow;
	-moz-background-clip: padding;
}

#PopupAutoCompleteRichResult{
	margin-top: -1px;
}

#identity-box[chromedir] > hbox,
.searchbar-engine-button{
	-moz-border-radius-topleft: 1px;
	-moz-border-radius-bottomleft: 1px;
}

#urlbar > .autocomplete-history-dropmarker{
	-moz-border-radius-topright: 1px;
	-moz-border-radius-bottomright: 1px;
}

/**/

#placesToolbar #back-button:-moz-system-metric(windows-default-theme),
#placesToolbar #forward-button:-moz-system-metric(windows-default-theme){
	padding: 6px;
}